<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/style_ui_chunks/ai-team.css') }}"
          type="text/css">
    <title>AI Team Feedback</title>
</head>
<body class="ai-team">
<div class="content">
    <div class="header">
        <div class="image"></div>
        <h1>AI Team</h1>
    </div>
    <div class="description">
        <p>Anonymous company review to improve level of satisfaction</p>
        <p>Do not worry that your feedback can be seen. We don’t save your feedback voice or results.<br>
        The employer will only get a squeeze of artificial intelligence.</p>
    </div>
    <button class="button button_big">Get Started</button>
</div>
</body>
</html>