@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import "static/style/helpers.scss";

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
}

html, body{
    width: 100%;
    min-height: 100vh;
    background: $light_t;
    background-image: url("../images/bg_inner.png");
}

body{
    overflow: auto;
}
input[type=checkbox]{
    cursor: pointer;
}

a{
    color: #3091ff;
    transition: 0.3s ease;
}
a:hover{
    color: #9bc9ff;
    transition: 0.3s ease;
}

@mixin mq($size, $direction: min-width, $media-type: screen) {
    @if $size == phones {
      @media #{$media-type} and (#{$direction}: $phones) {
        @content;
      }
    } @else if $size == tablet {
      @media #{$media-type} and (#{$direction}: $tablet) {
        @content;
      }
    } @else if $size == laptop {
      @media #{$media-type} and (#{$direction}: $laptop) {
        @content;
      }
    } @else if $size == desktop {
      @media #{$media-type} and (#{$direction}: $desktop) {
        @content;
      }
    } @else {
      @media #{$media-type} and (#{$direction}: $size) {
        @content;
      }
    }
}

.alert-err{
    @include mq(0px){width: 80%;}
    @include mq(800px){width: 60%;}
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: -100px;
    transition: 0.4s ease;
    background: #ee1c11c7;
    z-index: 1000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    backdrop-filter: blur(10px);

    button{
        border: none;
        cursor: pointer;
        background: transparent;
    }

    p{
        color: #fff;
        text-align: center;
    }

    svg{
        width: 30px;
        height: 30px;
    }
}

.logo{
    width: 60px;
    height: 60px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);

    g{
        fill: rgb(0, 0, 0);
    }
}

.grid-2-cl{
    width: 100%;
    min-height: 500px;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;

    @include mq(0px){align-items: center; padding: 10px; display: flex; flex-direction: column;}
    @include mq(940px){padding: 0px; grid-template-columns: 1fr 1fr; display: grid; flex-direction: row;}
}

.q_acc{
    width: 100%;
    text-align: center;
    color: #636363;
    font-size: 15px;
    margin-top: 10px;
}

$line: #75d4fabb;
$line1: #757efac2;

@keyframes loaderAnim {
    0%{
        transform: rotate(0deg);
    }50%{
        transform: rotate(180deg);
    }100%{
        transform: rotate(360deg);
    }
}
.loader{
    width: 25px;
    height: 25px;

    svg{
        width: 100%;
        height: 100%;
        animation: loaderAnim 1s linear infinite;
    }
}



.selection svg{
    width: 20px!important;
    height: 20px!important;
    object-fit: contain;

    path{
        width: 20px!important;
        height: 20px!important;
    }
}

.row{
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
}

.img-flag {
    margin-right: 10px;
}

.pass{
    position: relative;
    display: flex;
    flex-direction: column;

    svg{
        z-index: 100;
        cursor: pointer;
    }

    input{
        padding-right: 40px!important;
    }

    .pass-hide{
        position: absolute;
        top: 15px;
        cursor: pointer;
        right: 10px;
        z-index: 1000;

        svg{
            width: 20px;
            height: 20px;
        }
    }
}

.hidden{
    display: none!important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid rgba(179, 179, 179, 0.2666666667)!important;
    border-radius: 4px;
}

#countries{
    width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 7px!important;
    right: 1px;
    width: 20px;
  }

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 39px!important;
    height: 40px!important;
  }

.select2-container .select2-selection--single {
    height: 40px!important;
}
.select2-container{
    width: 100%!important;
    margin-bottom: 10px;
}

.select2-results{
    img{
        width: 20px;
        height: 15px;
        object-fit: cover;
        margin-right: 5px;
        transform: translateY(1px);
    }
}

.invalid{
    border: 1px solid #ff4444!important;
}

.alr{
    width: 100%;
    position: relative;

    input{
        width: 100%;
    }

    .alr-t {
        position: absolute;
        bottom: -5px;
        font-size: 10px;
        text-align: right;
        font-style: italic;
        right: 0;
        top: 46px;
        color: #ff2424;
    }
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(0px){padding-top: 30px;}
    @include mq(500px){padding-top: 100px;}
    position: relative;
    padding-bottom: 100px;
    flex-direction: column;

    .sv_dec{
        min-width: 150vw;
        width: 100%;
        height: 900px;
        background: rgba(248, 234, 250, 0.301);
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        box-shadow: 0 0 20px rgba(219, 219, 219, 0.74);
        transform: translate(-50%, -50%) rotate(-25deg);

        .dc-1{
            position: absolute;
            left: 0;
            width: 30%;
            height: 20px;
            background: linear-gradient(45deg, $line, $line1);
            z-index: 1;
            display: flex;
            transform: skewX(30deg);
            top: -20px;
        }
        .dc-2{
            position: absolute;
            right: 0;
            width: 50%;
            height: 20px;
            background: linear-gradient(45deg, $line, $line1);
            z-index: 1;
            display: flex;
            transform: skewX(30deg);
            top: -20px;
        }
        .dc-3{
            position: absolute;
            right: 0;
            width: 50%;
            height: 20px;
            background: linear-gradient(45deg, $line, $line1);
            z-index: 1;
            display: flex;
            transform: skewX(30deg);
            bottom: -20px;
        }
    }

    .dec{
        width: 100%;
        min-height: 100vh;
        display: flex;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 550px;
        top: 0;

        figure{
            width: 3px;
            min-height: 100vh;
            background: url(../images/line.png);
            background-size: contain;
            background-repeat: repeat-y;
            opacity: 0.5;
        }
    }

    .email_comfirm{
        @include mq(0px){width: 80%;}
        @include mq(860px){width: 500px;}
        min-height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        position: relative;
        background: #fff;
        z-index: 2;
        padding: 20px;
        box-shadow: 0 0 30px #6161612c;

        h2{
            color: #0880f0;
            font-size: 20px;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        p{
            color: #414141;
            margin-top: 10px;
            font-size: 14px;
            text-align: center;
        }

        .image{
            width: 150px;
            height: 150px;
        }
        .linkToEmail:hover{
            background: #0051ff;
            transition: 0.3s ease;
        }
        .linkToEmail{
            border: none;
            cursor: pointer;
            color: #fff;
            width: 100%;
            text-decoration: none;
            background: #00a2ff;
            height: 45px;
            transition: 0.3s ease;
            border-radius: 10px;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .sign{
        @include mq(0px){width: 80%;}
        @include mq(860px){width: 800px;}
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        position: relative;
        background: #fff;
        z-index: 2;
        box-shadow: 0 0 30px #6161616c;

        .info{
            width: 100%;
            height: 100%;
            @include mq(0px){display: none;}
            @include mq(940px){display: flex;}
            justify-content: center;
            position: relative;
            align-items: center;
            background: url(../images/q1.jpg) center / cover no-repeat;

            .logo_com{
                @include mq(0px){display: none;}
                @include mq(940px){display: flex;}
                position: absolute;
                top: 20px;
                width: 50px;
                height: 50px;
                left: 50%;
                transform: translateX(-50%);
                background: #fff;
                border-radius: 50%;
            }

            .blur{
                width: 70%;
                height: 70%;
                background: #8d489e6b;
                border-radius: 20px;
                backdrop-filter: blur(5px);
                padding: 20px;
                flex-direction: column;
                display: none;
                justify-content: space-between;
                font-weight: 600;
                color: #ffffff;
                box-shadow: 0 0 20px #00000081;

                .list{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;

                    div{
                        padding-left: 20px;
                        position: relative;

                        svg{
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            top: 5px;
                            left: 0;
                        }
                    }

                    h4{
                        font-size: 16px;
                    }

                    span{
                        font-size: 12px;
                        font-family: 'Rubik';
                        font-style: italic;
                    }
                }

                p{
                    font-family: 'Rubik';
                    font-style: italic;
                    font-size: 12px;
                }
            }
        }

        .form{
            @include mq(0px){padding: 0; width: 97%;}
            @include mq(400px){padding: 30px 30px; width: 100%;}
        }

        form{
            margin-top: 10px;
            width: 100%;
            height: 100%;
            user-select: none;
            display: flex;
            border: none;
            position: relative;
            margin-top: 30px;
            flex-direction: column;

            .hold.show{
                opacity: 0.5;
                transition: 0.4s ease;
                .abs_panel{
                    display: flex!important;
                }
            }

            .hold{
                width: 100%;
                display: flex;
                flex-direction: column;
                transition: 0.4s ease;
                position: relative;
            }
            .abs_panel{
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                background: rgba(216, 216, 216, 0.582);
                width: 100%;
                height: 100%;
                z-index: 10000;
                transform: scale(1.05);
                border-radius: 5px;
            }

            .select2 {
                img{
                    width: 20px;
                    height: 15px;
                    object-fit: cover;
                    margin-right: 5px;
                    transform: translateY(1px);
                }
            }

            .row{
                margin-top: 10px;
            }

            label{
                color: #414141bb;
                font-size: 12px;
                user-select: auto;
                font-weight: 500;
                font-family: 'Rubik';
            }

            input[type=checkbox]{
                width: 15px;
                height: 15px;
            }

            input[type=text],
            input[type=password]{
                transition: 0.1s ease;
            }

            input[type=text]:focus,
            input[type=password]:focus{
                outline: 3px solid #00a2ff46;
                transition: 0.1s ease;
            }

            .set:disabled{
                opacity: 0.3;
                cursor: auto;
            }

            .set:not(:disabled):hover{
                background: #0077ff;
                transition: 0.4s ease;
            }

            .set{
                border: none;
                cursor: pointer;
                color: #fff;
                transition: 0.4s ease;
                background: #00a2ff;
                height: 45px;
                border-radius: 10px;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }



            input[type=text],
            input[type=password]{
                margin-bottom: 10px;
                height: 40px;
                border-radius: 4px;
                border: 1px solid #b3b3b344;
                background: transparent;
                margin-top: 5px;
                outline: none;
                outline-color: #414141;
                outline-width: 2px;
                padding: 5px 10px;
                cursor: text;
                color: #00000096;
                font-size: 17px;
            }
        }

        h2{
            width: 100%;
            text-align: left;
            display: flex;
            margin-top: 10px;
            color: #4e4e4e;

            @include mq(0px){font-size: 5vw;}
            @include mq(340px){font-size: 20px;}
            @include mq(490px){font-size: 25px;}
            font-family: 'Rubik';
        }
    }
    .sign_in{
        @include mq(0px){width: 80%;}
        @include mq(860px){width: 400px;}
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        position: relative;
        background: #fff;
        z-index: 2;
        box-shadow: 0 0 30px #6161616c;

        .info{
            width: 100%;
            height: 100%;
            @include mq(0px){display: none;}
            @include mq(940px){display: flex;}
            justify-content: center;
            position: relative;
            align-items: center;
            background: url(../images/q1.jpg) center / cover no-repeat;

            .logo_com{
                @include mq(0px){display: none;}
                @include mq(940px){display: flex;}
                position: absolute;
                top: 20px;
                width: 50px;
                height: 50px;
                left: 50%;
                transform: translateX(-50%);
                background: #fff;
                border-radius: 50%;
            }

            .blur{
                width: 70%;
                height: 70%;
                background: #8d489e6b;
                border-radius: 20px;
                backdrop-filter: blur(5px);
                padding: 20px;
                flex-direction: column;
                display: none;
                justify-content: space-between;
                font-weight: 600;
                color: #ffffff;
                box-shadow: 0 0 20px #00000081;

                .list{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;

                    div{
                        padding-left: 20px;
                        position: relative;

                        svg{
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            top: 5px;
                            left: 0;
                        }
                    }

                    h4{
                        font-size: 16px;
                    }

                    span{
                        font-size: 12px;
                        font-family: 'Rubik';
                        font-style: italic;
                    }
                }

                p{
                    font-family: 'Rubik';
                    font-style: italic;
                    font-size: 12px;
                }
            }
        }

        .form{
            @include mq(0px){padding: 0; width: 97%;}
            @include mq(400px){padding: 30px 30px; width: 100%;}
        }

        form{
            margin-top: 10px;
            width: 100%;
            height: 100%;
            user-select: none;
            display: flex;
            border: none;
            position: relative;
            margin-top: 30px;
            flex-direction: column;

            .hold.show{
                opacity: 0.5;
                transition: 0.4s ease;
                .abs_panel{
                    display: flex!important;
                }
            }

            .hold{
                width: 100%;
                display: flex;
                flex-direction: column;
                transition: 0.4s ease;
                position: relative;
            }
            .abs_panel{
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                background: rgba(216, 216, 216, 0.582);
                width: 100%;
                height: 100%;
                z-index: 10000;
                transform: scale(1.05);
                border-radius: 5px;
            }

            .select2 {
                img{
                    width: 20px;
                    height: 15px;
                    object-fit: cover;
                    margin-right: 5px;
                    transform: translateY(1px);
                }
            }

            .row{
                margin-top: 10px;
            }

            label{
                color: #414141bb;
                font-size: 12px;
                user-select: auto;
                font-weight: 500;
                font-family: 'Rubik';
            }

            input[type=checkbox]{
                width: 15px;
                height: 15px;
            }

            input[type=text],
            input[type=password]{
                transition: 0.1s ease;
            }

            input[type=text]:focus,
            input[type=password]:focus{
                outline: 3px solid #00a2ff46;
                transition: 0.1s ease;
            }

            .set:disabled{
                opacity: 0.3;
                cursor: auto;
            }

            .set:not(:disabled):hover{
                background: #0077ff;
                transition: 0.4s ease;
            }

            .set{
                border: none;
                cursor: pointer;
                color: #fff;
                transition: 0.4s ease;
                background: #00a2ff;
                height: 45px;
                border-radius: 10px;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }



            input[type=text],
            input[type=password]{
                margin-bottom: 10px;
                height: 40px;
                border-radius: 4px;
                border: 1px solid #b3b3b344;
                background: transparent;
                margin-top: 5px;
                outline: none;
                outline-color: #414141;
                outline-width: 2px;
                padding: 5px 10px;
                cursor: text;
                color: #00000096;
                font-size: 17px;
            }
        }

        h2{
            width: 100%;
            text-align: left;
            display: flex;
            margin-top: 10px;
            color: #4e4e4e;

            @include mq(0px){font-size: 5vw;}
            @include mq(340px){font-size: 20px;}
            @include mq(490px){font-size: 25px;}
            font-family: 'Rubik';
        }
    }
}