@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import "../../../style/helpers.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "alarm clock";
    //src: url(../fonts/alarm\ clock.ttf);
}

@mixin mq($size, $direction: min-width, $media-type: screen) {
    @if $size==phones {
        @media #{$media-type} and (#{$direction}: $phones) {
            @content;
        }
    }
    @else if $size==tablet {
        @media #{$media-type} and (#{$direction}: $tablet) {
            @content;
        }
    }
    @else if $size==laptop {
        @media #{$media-type} and (#{$direction}: $laptop) {
            @content;
        }
    }
    @else if $size==desktop {
        @media #{$media-type} and (#{$direction}: $desktop) {
            @content;
        }
    }
    @else {
        @media #{$media-type} and (#{$direction}: $size) {
            @content;
        }
    }
}

.invalid {
    border: 1px solid red !important;
}



.form_request .start:disabled::after {
    content: "➜";
    font-size: 24px;
    color: #fff;
}

.form_request .start:disabled:hover,
.form_request .start:disabled:focus,
.form_request .start:disabled{
    background: #d2d2d2 !important;
    opacity: 0.8;
    cursor: default;
    box-shadow: 0px 10px 20px 0 transparent, inset 0px 0px 0px 10px transparent ;
    overflow: none!important;
}


.form_request{
    width: 100%;
    display: flex;

    margin-top: 5px;
    gap: 5px;
    border-radius: 10px;
    overflow: hidden;

    input{
        flex: 1 1 auto;
        border: none;
        background: #fff;
        outline: none;
        font-size: 18px;
        border-radius: 10px;
        padding: 10px;
    }

    button{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.thank_you:not(.hidden){
    #completion {
        width: 150px;
        height: 150px;
        display: block;
      }

      @keyframes hideshow {
        0% { opacity: 0.2; }
        10% { opacity: 0.2; }
        15% { opacity: 0.2; }
        100% { opacity: 1; }
      }

      #cirkel {
        animation: hideshow 0.4s ease;
      }

      #check {
        animation: hideshow 0.4s ease;
      }

      #stars {
        animation: hideshow 1.0s ease;
        opacity: 0.9;
      }


      @keyframes hideshow {
        0% {
          transform: scale(0.2);
          transform-origin: initial;

        }
        100% {
          transform: scale(1.0);
          transform-origin: initial;
        }
      }

      @keyframes draaien {
        0% {
          transform: rotate(40deg);
          transform-origin: initial;

        }
        100% {
          transform: scale(0deg);
          transform-origin: initial;
        }
      }

      #check {
        animation: draaien 0.8s ease;
      }


      @keyframes transparant {
        0% {
          opacity: 0;

        }
        100% {
          opacity: 1;
        }
      }

      #check {
        animation: transparant 2s ;
      }
}
.thank_you{
    height: 100vh;
    position: relative;
    overflow: hidden!important;
    .load{
        display: flex;
    }

    .content_thankyou{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        padding: 0 50px;

        h2{
            color: #fff;
            margin-bottom: 20px;
            @include mq(0px){font-size: 20px; max-width: 90%;}
            @include mq(600px){font-size: 20px;}
            @include mq(800px){font-size: 25px; max-width: 50%;}
            @include mq(1160.98px){font-size: 26px; max-width: 35%;}

            text-align: center;
            margin-top: 20px;
        }

        p{
            color: #ffffffed;
            margin-top: 20px;
        }

        .star{
            width: 100px;
            height: 100px;

            svg{
                width: 100px;
                height: 100px;
            }
        }
    }

    .circle_abs{
        width: 0;
        height: 0;
        background: $light_g;
        display: flex;
        position: absolute;
        transition: 1s ease;
        border-radius: 50%;
        transform: scale(0);
    }
}

.q.loader,
.content.loader{
    .hd{
        display: none;
    }

    .load{
        display: flex;
    }
}

@keyframes load {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.load{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;

    svg{
        width: 50px;
        height: 50px;
        transition: 0.3s ease;
        animation: load .6s linear infinite;
    }
}

.content{
    height: 100vh;
    @include mq(0px){padding: 50px 0;}
    @include mq(1160.98px){
        padding: 50px 0;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .hd{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include mq(1160.98px){
            align-items: center;
        }
    }
}
.q{
    padding: 50px 0;
}


.input_user input{
    padding: 2px 30px;
    height: 38px;
    background-color: #fff;
    display: flex;
    transition: 0.3s ease;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
    gap: 10px;
}

.confident_accept{
    max-width: 300px;
    text-align: center;
    font-size: 11px;
    color: #959595;
}

.thank_you,
.q,
.content{
    width: 100%;
    @include mq(1160.98px){overflow: auto;}
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .row_user{
        width: 100%;
        min-height: 80px;
        padding: 10px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .type{
            width: 100%;
            max-width: 700px;
            justify-content: center;
            text-align: center;
            font-size: 14px;
            color: #132133;

            a{
                color: $dark_g;
            }
        }

        span{
            @include mq(0px){width: 80%;}
            @include mq(700px){width: 75%;}
            @include mq(1160.98px){width: 50%;}

            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 12px;
            color: #27292c6b;
            margin-top: 10px;
        }
    }

    .company{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        padding-top: 20px;

        .image{
            min-width: 100px;
            min-height: 100px;
            max-width: 100px;
            max-height: 100px;
            width: 100px;
            height: 100px;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(71, 71, 71, 0.199);
            border: 2px solid #ffffff;
            border-radius: 50%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h3{
            width: 100%;
            text-align: center;
            font-size: 40px;
            margin-top: 20px;
        }

        p{
            width: 50%;
            text-align: center;
            color: #969696;
            margin-top: 10px;
        }
    }
}

#visualization{
    @include mq(0px){width: 80%;}
    @include mq(500px){width: 400px;}

    height: 70px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(150, 149, 149, 0.308);
}

.q_count{
    margin-bottom: 18px;
    color: #a5a5a5;
    font-size: 18px;
    font-weight: 700;
}

.wpr_tests{
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .wrapper{
        width: 100%;
        min-height: calc( 100vh - 5vh);
        flex: 1;
        justify-content: center;
        align-items: center;
        @include mq(0px){flex-direction: column;}
        @include mq(1160.98px){flex-direction: row; overflow: hidden;}
        display: flex;
        position: relative;

        .boxed_info::before{
            @include mq(1160.98px){
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 150%;
                height: 150%;
                transform: rotate(5deg) translate(-50%, -50%);
                background: rgb(5, 11, 44);
                z-index: 1;
            }
        }

        .boxed_info{
            @include mq(0px){ width: 100%;  position: relative;}
            @include mq(1160.98px){ width: 400px;  position: absolute; right: 0;}
            height: 100%;
            display: flex;
            background: rgb(5, 11, 44);
        }
    }
}
#error{
    @include mq(0px){width: 80%;}
    @include mq(700px){width: 75%;}
    @include mq(1160.98px){width: 50%;}
    min-height: 50;
    font-size: 12px;
    text-align: center;
    color: rgb(253, 61, 61);
    margin-top: 10px;
    font-family: "Gabarito";
}

.submit{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bt:not(:disabled):hover{
    background-color: rgb(173, 3, 252);
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgba(175, 10, 252, 0.486);

    svg{
        transform: translateX(5px);
        transition: 0.3s ease;
    }
}

.bt:disabled{
    opacity: 0.5;
    background-color: #626262;
}

.question{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;

    .row_button{
        margin-top: 20px;
    }

    h5{
        max-width: 90%;
        text-align: center;
        color: #a8a8a8b2;
        font-weight: 500;
        font-size: 11px;
        display: flex;
        margin-top: 30px;
    }

    h3{
        font-size: 35px;
        margin-top: 10px;
    }

    .recognize{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.slide {
    width: 100%;
    min-height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: height 0.5s ease-out;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

.slide h3 {
    display: block;
    @include mq(0px){font-size: 16px; width: 80%;}
    @include mq(600px){font-size: 16px;}
    @include mq(800px){font-size: 18px;}
    @include mq(1160.98px){font-size: 21px; width: 55%;}
    transition: transform 0.3s ease;
    margin: 0 auto;
}

.slide h3.current {
    z-index: 2;
}

.slide h3.next {
    z-index: 1;
    transform: translateY(50px);
}

.bt{
    padding: 9px 30px;
    background-color: $light_g;
    display: flex;
    transition: 0.3s ease;
    justify-content: center;
    align-items: center ;
    border-radius: 20px;
    border: none;
    gap: 10px;

    span{
        color: #fff;
        font-family: "Roboto";
        font-size: 16px;
    }

    svg{
        width: 20px;
        height: 20px;
        transition: 0.3s ease;
    }
}
.start:after {
    content: '➜';
    font-size: 24px;
    color: var(--primary);
}



.start:hover, .start_input:hover {
    box-shadow: 0px 10px 20px 0 var(--shadow), inset 0px 0px 0px var(--stroke-thickness) var(--primary);
}

.start{
    padding: 14px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--secondary) 0%, var(--secondary) 33.2%, var(--primary) 33.3%, var(--primary) 66.5%, var(--secondary) 66.6%, var(--secondary) 100% );
    background-size: 302% 100%;
    background-position: 100% 100%;
    border-radius: var(--corner-radius);
    box-shadow: 0px 20px 40px 0 var(--shadow);
    border: none;

    span{
        font-size: 20px;
        font-weight: 500;
        transform: translateY(1px);
        padding-right: 10px;
    }

}

.content_info{
    @include mq(0px){
        width: 100%;
        height: "auto";
        padding: 40px 10px;
    }
    @include mq(1160.98px){ position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 40px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;


    h3{
        color: #fff;
        font-size: 25px;
    }

    .list{
        @include mq(0px){
            width: 95%;
        }
        @include mq(700px){
            width: 60%;
        }
        @include mq(1160.98px){
            width: 100%;
        }
        display: flex;
        padding-top: 30px;
        flex-direction: column;
        gap: 10px;

        .box{
            width: 100%;
            display: flex;
            align-items: flex-start;
            gap: 10px;

            .cube{
                width: 30px;
                height: 30px;
                display: flex;
                margin-top:  3px;
                justify-content: center;
                align-items: center;
                background: rgba(231, 230, 230, 0.342);
                border-radius: 10px;
                color: #fff;
            }

            p{
                flex: 1;
                color: #fff;
            }
        }
    }
}


.path {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: draw 5s forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}


.powered{
    height: 5vh;
    color: #b8b8b8;
    width: 100%;
    z-index: 100000;
    font-size: 1em;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gabarito";

    a{
        text-decoration: none;
        color: #969696;
        padding-left: 5px;
    }
}

a,button{
    cursor: pointer;
}

html, body{
    width: 100%;
    min-height: 100vh;
}

body{
    overflow: auto;
    font-family: 'Gabarito';
    // font-family: 'Noto Sans', sans-serif;
}

.hidden{
    display: none!important;
}

.holder{
    width: 300px;
}

.web-camera{
    width: 100%;
    height: 300px;
    display: flex;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.placeholder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    svg{
        width: 80px;
        height: 80px;
    }

    p{
        font-size: 15px;
    }
}

.stream-start{
    width: 100%;
    margin-top: 10px;
    background: linear-gradient(45deg, rgb(233, 50, 224), rgb(0, 247, 255));
    border-radius: 10px;
    padding: 10px 5px;
    opacity: 0.8;
    color: #fff;
    font-size: 16px;
    border: none;
}
.stream-stop{
    width: 100%;
    margin-top: 10px;
    background: linear-gradient(45deg, rgb(233, 87, 50), rgb(255, 0, 255));
    border-radius: 10px;
    padding: 10px 5px;
    opacity: 0.8;
    color: #fff;
    font-size: 16px;
    border: none;
}
.stream-stop:hover,
.stream-start:hover{
    opacity: 1;
    transition: 0.4s ease;
}


:root {
    --bg-clr: #f5f2f2;
    --border: 3px solid var(--text-clr);
    --primary: #3F46DC;
    --secondary: #FFFFFF;
    --background: #F6F7FB;
    --text: #3C3C69;
    --shadow: rgba(37,40,122,.09);
    --font: 'Space Mono', monospace;
    --corner-radius: 10px;
    --stroke-thickness: 4px;
  }




.vote_done{
    width: 100%;
    height: 100%;
    height: calc(100vh - 5vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background: var(--text-clr);

    .title{
        color: #fff;
        text-align: center;
        font-family: "Roboto";
        font-size: 40px;
    }
}

.wrapper_quiz{
    @include mq(0px){width: 95%; padding-top: 200px;}
    @include mq(1270px){width: 1200px; padding-top: 200px;}
    position: relative;
}

.count{
    display: flex;
    flex-direction: column;
    justify-content: flex-end!important;
}

.count p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.count i {
    flex: 1;
    width: "100%";
    transform: translateY(5px);
    position: relative;
    height: 2px;
    background: url('../cr.png') center / contain repeat-x;
    z-index: 0;
}

.count p span:first-child {
    padding-right: .5em;
    z-index: 1;
}

.count p span:last-child {
    padding-left: .5em;
    z-index: 1;
}

.content_done{
    width: 100%;
    height: 95vh;
    padding-top: 50px;

    .results{
        width: 100%;
        height: calc(95vh - 50px);
        position: relative;
        margin-top: 20px;
        padding-top: 20px;
        overflow: auto;
        border-top: 1px solid rgba(228, 228, 228, 0.308);
        display: flex;
        flex-direction: column;

        .count{
            display: flex;
            flex-direction: column;
            gap: 5px;
            opacity: 0.8;

            p{
                color: #fff;
                font-family: "Roboto";
            }
        }
    }

}

.data_quiz{
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    border-radius: 10px;

    img{
        left: 0;
        top: 0;
        position: absolute;
        z-index: 1;
        opacity: 0.2;
    }
    button{
        z-index: 1000;
        position: relative;
    }
}

.vote_container{
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 5vh);
    display: flex;
    position: relative;
    overflow: hidden;
    background: rgb(240, 240, 240);

    .container_text{
        width: 100%;
        height: 100%;
        top: 50px;
        display: flex;
        overflow: auto;
        justify-content: center;
        position: absolute;

        .wrapper_quiz{
            .bg_small{
                width: 100%;
                height: 195px;
                overflow: hidden;
                position: absolute;
                top: 0;
                border-radius: 10px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .content_quiz_start,
            .content_quiz{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                z-index: 100;
                padding-bottom: 100px;

                .status_quiz_start{
                    text-transform: uppercase;
                    font-size: 12px;
                }
                .status_quiz_start,
                .status_quiz{
                    padding: 5px 30px;
                    height: 40px;
                    display: flex;
                    transform: translateY(-20px);
                    justify-content: center;
                    font-family: "Roboto";
                    align-items: center;
                    background: var(--text-clr);
                    position: absolute;
                    border-radius: 30px;
                    z-index: 10;
                    color: #fff;
                    font-weight: 600;
                }

                .title_quiz,
                .question_quiz{
                    width: 100%;
                    border: var(--border);
                    border-radius: 10px;
                    display: flex;
                    font-family: "Roboto";
                    padding: 30px;
                    font-weight: 500;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    @include mq(0px){font-size: 20px;}
                    @include mq(600px){font-size: 30px;}
                    position: relative;
                    background: #fff;
                    z-index: 1;
                }

                .grid_button{
                    width: 100%;
                    display: grid;
                    padding-top: 10px;
                    gap: 10px;
                    @include mq(0px){grid-template-columns: 1fr;}
                    @include mq(600px){grid-template-columns: 1fr 1fr;}

                    button.active{
                        background-color: var(--text-clr);
                        color: #fff;

                        .content_btn{
                            transform: translateY(4px);
                        }
                    }
                    button {
                        background: #fff;
                        color: var(--text-clr);
                        @include mq(0px){padding: 15px 20px; font-size: 15px;}
                        @include mq(600px){padding: 20px; font-size: 20px;}
                        border: var(--border);
                        border-radius: 10px;
                        border-bottom: 8px solid var(--text-clr);
                        font-weight: 600;
                        transition: 0.3s ease;
                        cursor: pointer;
                    }

                    button:not(.active):active {
                        border-bottom: var(--border);
                        transform: translateY(5px);
                    }

                    button:not(.active):hover {
                        opacity: 0.6;
                        transition: 0.3s ease;
                    }

                    .button{
                        // min-height: 60px;
                        // border: 1px solid #6d05cf;
                        // border-radius: 10px;
                        // position: relative;
                        // background: #fff;
                        // font-family: "Roboto";
                        // font-size: 16px;

                        .content_btn{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 100000;
                            border-radius: 10px;
                            position: relative;
                        }
                    }
                }

                .continue{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 50px;
                    padding-bottom: 100px;

                    button:disabled{
                        background: var(--text-clr);
                        opacity: 0.1;
                        cursor: default;
                    }
                    button{
                        padding: 12px 50px;
                        background: var(--text-clr);
                        display: flex;
                        align-items: center;
                        border-radius: 50px;
                        font-family: "Roboto";
                        border: none;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: 500;
                        color: #fff;
                    }
                }
            }
        }
    }

    .bg::before{
        content: "";
        width: 100%;
        height: 600px;
        position: absolute;
        background: var(--text-clr);
        bottom: 50px;
        opacity: 0.95;
        transform: scale(1.2, 1.1);
        border-radius: 20%;

    }

    .bg{
        width: 100%;
        @include mq(0){height: 250px;}
        @include mq(600px){height: 350px;}
        display: flex;
        position: relative;

        .invisible{
            transform: translateY(-100%);
            transition: 0.3s ease;
        }
        .timer{
            width: 100%;
            transition: 0.3s ease;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10px;
            z-index: 100;

            span{
                font-size: 19px;
                font-weight: 600;
                font-style: normal;
                font-family: "alarm clock";
                color: #fff;
            }

            svg{
                width: 18px;
                height: 18px;
            }
        }
    }
}

.hidden{
    display: none!important;
}

