### sudo vim /etc/systemd/system/knowemployee.service ###
[Unit]
Description=Gunicorn instance to serve knowemployee Flash app
After=network.target

[Service]
User=know
Group=know
WorkingDirectory=/home/know/knowemployee
Environment="PATH=/home/know/env/knowemployee/bin"
ExecStart=/home/know/env/knowemployee/bin/gunicorn --workers 3 --bind unix:knowemployee.sock -m 007 wsgi:app -c /home/know/knowemployee/gunicorn.conf.py

[Install]
WantedBy=multi-user.target