<div class="analytics_section">
    <div class="container">
        <div class="surveys">
            <div class="survey box_survey box_dark">
                <h4>Survey Name</h4>
                <p><span class="l">01</span> <span class="r">Feb</span></p>
            </div>
            <div class="impression">
                <label for="level_satisfaction">Level of Satisfaction</label>
                <meter id="level_satisfaction" min="0" max="100" value="100" low="30" high="70" optimum="100"></meter>
            </div>

            <div class="recommendations">
                <h3 class="box_survey box_grey">Recommendations&nbsp;<span>based on the employee feedback</span></h3>
                <div class="recommendation">
                    <h3><span class="l">Question:</span> <span class="r">text of the question?</span></h3>
                    <p>
                        <span class="l">Recommendations:</span><span class="r">text of the recommendation.</span>
                    </p>
                </div>
                <div class="recommendation">
                    <h3><span class="l">Question:</span> <span class="r">text of the question?</span></h3>
                    <p>
                        <span class="l">Recommendations:</span><span class="r">text of the recommendation.</span>
                    </p>
                </div>
            </div>

            <div class="summary">
                <h3 class="box_survey box_grey">Survey Summary</h3>
                <p>AI generated text of the survey summary.</p>
            </div>
        </div>
    </div>
</div>