<div class="custom_link">
    <div class="jw">
        <a href="/dashboard/services/feedback/custom/create" class="create">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path>
            </svg>
            Create a Survey
        </a>
    </div>
    <div class="name_link">
        <input type="text" class="shadow big_fields" placeholder="Survey Name">
        <span id="err-n"></span>
        <button class="button button_big shadow" disabled d-e="{{ data_page.edit }}">
            {% if data_page.edit %}
            <span>Save changes</span>
            {% else %}
            <span>Get the link</span>
            {% endif %}
        </button>
    </div>
    <div class="fe">
        <div class="link_line">
            <div class="row">
                <label class="visually-hidden" for="q-new">Question</label>
                <input id="q-new" type="text" placeholder="Add question">
                <button class="shadow" id="add" disabled>Add the question</button>
            </div>
            <span id="err-q"></span>
            <div class="questions" draggable="true">
                {% for item in data_page.question %}
                <div class="q_text">
                        <span>
                            {{ loop.index }}
                        </span>
                    <p>{{ item }}</p>
                    <button>
                        <svg class="feather feather-trash-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="#AFAFAF">
                            <path d="M4 8H20M10 12V18M14 12V18M5 8L6 20C6 20.5304 6.21071 21.0391 6.58579 21.4142C6.96086 21.7893 7.46957 22 8 22H16C16.5304 22 17.0391 21.7893 17.4142 21.4142C17.7893 21.0391 18 20.5304 18 20L19 8M9 8V5C9 4.73478 9.10536 4.48043 9.29289 4.29289C9.48043 4.10536 9.73478 4 10 4H14C14.2652 4 14.5196 4.10536 14.7071 4.29289C14.8946 4.48043 15 4.73478 15 5V8"
                                  stroke="#F8F8F8" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="link_line">

            <div class="check_container" id="ai_testing">
                <h3>Provide recommendations from AI?</h3>
                <p>Our AI component can provide you with recommendations on how to improve your work environment.</p>
                {% if data_page.obj %}
                <div class="check">
                    <button {% if data_page.obj.ai %}class="active" {% endif %}>Yes</button>
                    <button {% if not data_page.obj.ai %}class="active" {% endif %}>No</button>
                </div>
                {% else %}
                <div class="check">
                    <button>Yes</button>
                    <button class="active">No</button>
                </div>
                {% endif %}
            </div>

            <div class="check_container" id="anonymous_test">
                <h3>Will the link be anonymous?</h3>
                <p>If the link is anonymous, the user will see that they can say anything, and you won't see what the
                    user said.</p>
                {% if data_page.obj %}
                <div class="check">
                    <button {% if data_page.obj.anonimus_feedback==
                    "1" %}class="active"{% endif %}>Yes</button>
                    <button {% if data_page.obj.anonimus_feedback !="1" %}class="active" {% endif %}>No</button>
                </div>
                {% else %}
                <div class="check">
                    <button class="active">Yes</button>
                    <button>No</button>
                </div>
                {% endif %}
            </div>

            <div class="check_container" id="multiple">
                <h3>Multiple links?</h3>
                <p>YES means that one user can leave multiple reviews, NO means that on this link you can leave only
                    one-time review.</p>
                {% if data_page.obj %}
                <div class="check">
                    <button {% if data_page.obj.multiple %}class="active" {% endif %}>Yes</button>
                    <button {% if not data_page.obj.multiple %}class="active" {% endif %}>No</button>
                </div>
                {% else %}
                <div class="check">
                    <button>Yes</button>
                    <button class="active">No</button>
                </div>
                {% endif %}
            </div>

            {% if data_page.obj %}
            <div class="check_container {{ 'hidden' if data_page.obj.anonimus_feedback == '1' }}" id="username_req">
                <h3>Requesting a username?</h3>
                <p>This function is so that you can identify the person who will be tested. If you allow it, we will ask
                    for the person's name before we start the review/testing process.</p>
                <div class="check">
                    <button {% if data_page.obj.username_bool %}class="active" {% endif %}>Yes</button>
                    <button {% if not data_page.obj.username_bool %}class="active" {% endif %}>No</button>
                </div>
            </div>
            {% else %}
            <div class="check_container hidden" id="username_req">
                <h3>Requesting a username?</h3>
                <p>This function is so that you can identify the person who will be tested. If you allow it, we will ask
                    for the person's name before we start the review/testing process.</p>
                <div class="check">
                    <button>Yes</button>
                    <button class="active">No</button>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>