<div class="custom_link">
    <div class="name_link">
        <input type="text" placeholder="Name of custom recall link">
        <span id="err-n"></span>
        <button disabled d-e="{{ data_page.edit }}">
            {% if data_page.edit %}
            <span>Save changes</span>
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M18 19h1V6.828L17.172 5H16v4H7V5H5v14h1v-7h12v7zM4 3h14l2.707 2.707a1 1 0 0 1 .293.707V20a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm4 11v5h8v-5H8z" fill="#ffffff" class="fill-000000"></path></svg>
            {% else %}
            <span>Сreate a link</span>
            <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg"><path d="M66 42H54V30a6 6 0 0 0-12 0v12H30a6 6 0 0 0 0 12h12v12a6 6 0 0 0 12 0V54h12a6 6 0 0 0 0-12Z" fill="#ffffff" class="fill-000000"></path><path d="M48 0a48 48 0 1 0 48 48A48.051 48.051 0 0 0 48 0Zm0 84a36 36 0 1 1 36-36 36.04 36.04 0 0 1-36 36Z" fill="#ffffff" class="fill-000000"></path></svg>
            {% endif %}

        </button>
    </div>
    <div class="fe">
        <div class="link_line">
            <div class="row">
                <input id="q-new" type="text" placeholder="Type in your question to be answered by the user">
                <button id="add" disabled>Add a custom question</button>
            </div>
            <span id="err-q"></span>
            <div class="questions" draggable="true">
                {% for item in data_page.question %}
                    <div class="q_text">
                        <span>
                            {{ loop.index }}
                        </span>
                        <p>{{ item }}</p>
                        <button>
                            <svg baseProfile="tiny" version="1.2" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M12 3c-4.963 0-9 4.038-9 9s4.037 9 9 9 9-4.038 9-9-4.037-9-9-9zm0 16c-3.859 0-7-3.14-7-7s3.141-7 7-7 7 3.14 7 7-3.141 7-7 7z" fill="#ff3d3d" class="fill-000000"></path><path d="m12.707 12 2.646-2.646a.502.502 0 0 0 0-.707.502.502 0 0 0-.707 0L12 11.293 9.354 8.646a.5.5 0 0 0-.707.707L11.293 12l-2.646 2.646a.5.5 0 0 0 .707.708L12 12.707l2.646 2.646a.5.5 0 1 0 .708-.706L12.707 12z" fill="#ff3d3d" class="fill-000000"></path></svg>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="link_line">

            <div class="check_container" id="ai_testing">
                <h3>Provide recommendations from AI?</h3>
                <p>Our component, which, based on user responses, can provide you with recommendations on how to improve your work environment.</p>
                {% if data_page.obj %}
                        <div class="check">
                            <button {% if data_page.obj.ai %}class="active"{% endif %}>Yes</button>
                            <button {% if not data_page.obj.ai %}class="active"{% endif %}>No</button>
                        </div>
                {% else %}
                    <div class="check">
                        <button>Yes</button>
                        <button class="active">No</button>
                    </div>
                {% endif %}
            </div>

            <div class="check_container" id="anonymous_test">
                <h3>Will the link be anonymous?</h3>
                <p>If the link is anonymous, the user will see that they can say anything, and you won't see what the user said. If the link is not anonymous, then you can see what the user said.</p>
                {% if data_page.obj %}
                    <div class="check">
                        <button {% if data_page.obj.anonimus_feedback == "1" %}class="active"{% endif %}>Yes</button>
                        <button {% if data_page.obj.anonimus_feedback != "1" %}class="active"{% endif %}>No</button>
                    </div>
                {% else %}
                    <div class="check">
                        <button class="active">Yes</button>
                        <button>No</button>
                    </div>
                {% endif %}
            </div>

            <div class="check_container" id="multiple">
                <h3>Multiple links?</h3>
                <p>If you allow it, it means we can not guarantee that 1 user will not leave multiple reviews, if you disallow it, it means that on this link you can leave only 1 time review.</p>
                {% if data_page.obj %}
                    <div class="check">
                        <button {% if data_page.obj.multiple %}class="active"{% endif %}>Yes</button>
                        <button {% if not data_page.obj.multiple %}class="active"{% endif %}>No</button>
                    </div>
                {% else %}
                    <div class="check">
                        <button>Yes</button>
                        <button class="active">No</button>
                    </div>
                {% endif %}
            </div>

            {% if data_page.obj %}
                <div class="check_container {{ 'hidden' if data_page.obj.anonimus_feedback == '1' }}" id="username_req">
                    <h3>Requesting a username?</h3>
                    <p>This function is so that you can identify the person who will be tested. If you allow it, we will ask for the person's name before we start the review/testing process.</p>
                    <div class="check">
                        <button {% if data_page.obj.username_bool %}class="active"{% endif %}>Yes</button>
                        <button {% if not data_page.obj.username_bool %}class="active"{% endif %}>No</button>
                    </div>
                </div>
            {% else %}
                <div class="check_container hidden" id="username_req">
                    <h3>Requesting a username?</h3>
                    <p>This function is so that you can identify the person who will be tested. If you allow it, we will ask for the person's name before we start the review/testing process.</p>
                    <div class="check">
                        <button>Yes</button>
                        <button class="active">No</button>
                    </div>
                </div>
            {% endif %}
            
        </div>
    </div>
</div>