<div class="tabs_analytics" id="_feead_custom" domain="{{ data_page.domain }}">
    <div class="container">
        <div class="box">
            <div class="jw">
                <a href="/dashboard/services/feedback/custom/create" class="create">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                    </svg>
                    Create a Survey
                </a>
            </div>
            <div class="search_block">
                <h3>Search for survey</h3>
                <div class="search">
                    <label class="visually-hidden" for="search">Search survey</label>
                    <input class="shadow" type="text" id="search" placeholder="Survey Name">
                    <button>
                        <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><title/>
                            <desc/>
                            <defs/>
                            <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                                <g fill="#000000" id="Core" transform="translate(-339.000000, -381.000000)">
                                    <g id="search" transform="translate(339.000000, 381.000000)">
                                        <path d="M12.5,11 L11.7,11 L11.4,10.7 C12.4,9.6 13,8.1 13,6.5 C13,2.9 10.1,0 6.5,0 C2.9,0 0,2.9 0,6.5 C0,10.1 2.9,13 6.5,13 C8.1,13 9.6,12.4 10.7,11.4 L11,11.7 L11,12.5 L16,17.5 L17.5,16 L12.5,11 L12.5,11 Z M6.5,11 C4,11 2,9 2,6.5 C2,4 4,2 6.5,2 C9,2 11,4 11,6.5 C11,9 9,11 6.5,11 L6.5,11 Z"
                                              id="Shape"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="table_flow">
                <div class="loading" style="flex: 1">
                    <p>Uploading the list custom feedbacks</p>
                    <div class="load">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 22c5.421 0 10-4.579 10-10h-2c0 4.337-3.663 8-8 8s-8-3.663-8-8c0-4.336 3.663-8 8-8V2C6.579 2 2 6.58 2 12c0 5.421 4.579 10 10 10z"
                                  fill="#34DD0A" class="fill-000000"></path>
                        </svg>
                    </div>
                </div>

                <div class="container_grid hidden">

                </div>
            </div>
        </div>
    </div>
</div>