<div class="dashboard_welcome">
    <div class="box">
        <h1>Welcome, {{data_page.company_name}}</h1>
        <p>The place of your atmosphere management in the work of your employees</p>
    </div>
    <img class="welcome" src="{{ url_for('static', filename='assets/images/welcome.svg') }}">
</div>

<div id="chart-filters">
    <button onclick="updateChart('all')">All</button>
</div>
<canvas class="analysis_chart" id="analysis"></canvas>
<!-- 
<h3 class="tc">Reporting</h3>
<div class="box_info">
    <div class="box">1</div>
    <div class="box">3</div>
    <div class="box">4</div>
    <div class="box">5</div>
</div> -->