<div class="profile">
    <div class="ava_container">
        <div class="wrapper_set">
            <div class="avatar-wrapper">
                <img class="profile-pic"
                     src="{{ '../../static/company.png' if data_page.user_data.avatar == '0' else data_page.user_data.avatar }}"
                     alt="Logo you company">
                <div class="upload-button">
                    <i class="fa-solid fa-circle-plus" aria-hidden="true"></i>
                </div>
                <input class="file-upload" type="file" accept="image/*"/>
            </div>
        </div>
    </div>
    <p class="set_name_company">{{ data_page.user_data.company_name }}
        <i class="fa-solid fa-pencil" aria-hidden="true"></i>
    </p>
    <div class="change_data">
        <span class="alr"></span>
        <div class="row">
            <label for="name_company" class="tc visually-hidden">Company name</label>
            <input id="name_company" type="text"
                   value="{{ '' if data_page.user_data.company_name == '0' else data_page.user_data.company_name }}"
                   placeholder="Name Company">
        </div>
        <!--        <button disabled id="name_save">Save changes</button>-->
    </div>

    <div class="change_data f">
        <span class="alr"></span>
        <h3 class="tc visually-hidden">Company description</h3>
        <div class="row">
            <div id="update_slogan" contenteditable="true">
                {{ "" if data_page.user_data.slogan == '0' else data_page.user_data.slogan }}
                <i class="fa-solid fa-pencil icon-placeholder" aria-hidden="true"></i>
            </div>
        </div>
    </div>


    <div class="change_data change_password">
        <span class="alr"></span>
        <div class="row">
            <h3 class="tc">Change the password</h3>
            <input id="current_password" placeholder="Current Password">
            <input id="new_password" placeholder="New Password">
            <input id="confirm_password" placeholder="Confirm Password">
        </div>
        <button id="save_changes" disabled>Save changes</button>
    </div>


    <!-- <div class="change_data">
        <span class="alr"></span>
        <h3 class="tc">Interface language</h3>
        <div class="row">
            <input type="text" placeholder="Interface language">
        </div>
    </div> -->

    <div class="change_data">
        <div class="delete_account">
            <div class="warning">
                <h4>Watch out for the danger zone</h4>
                <p>If you choose to delete your company account, your data will be irreversibly erased. We grant you the
                    right to make this decision.</p>
            </div>
            <button>Delete account</button>
        </div>
    </div>

</div>