<div class="profile">
    <div class="ava_container">
        <div class="wrapper_set">
            <div class="avatar-wrapper">
                <img class="profile-pic" src="{{ '../../static/company.png' if data_page.user_data.avatar == '0' else data_page.user_data.avatar }}" alt="Logo you company">
                <div class="upload-button">
                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                </div>
                <input class="file-upload" type="file" accept="image/*"/>
            </div>
        </div>
    </div>
    <p class="set_name_company">{{ data_page.user_data.company_name }}</p>


    <div class="change_data f">
        <span class="alr"></span>
        <h3 class="tc">Company's slogan</h3>
        <div class="row">
            <textarea id="update_slogan" type="text" placeholder="Company's slogan">{{ "" if data_page.user_data.slogan == '0' else data_page.user_data.slogan }}</textarea>
        </div>
        <button disabled id="slogan_save">Save changes</button>
    </div>

    <div class="change_data">
        <span class="alr"></span>
        <h3 class="tc">Company name</h3>
        <div class="row">
            <input id="name_company" type="text" value="{{ '' if data_page.user_data.company_name == '0' else data_page.user_data.company_name }}" placeholder="Name Company">
        </div>
        <button disabled id="name_save">Save changes</button>
    </div>

    <div class="change_data">
        <span class="alr"></span>
        <h3 class="tc">Change password</h3>
        <div class="row">
            <input id="current_password" type="password" placeholder="Current password">
            <input id="new_password" type="password" placeholder="New password">
        </div>
        <button disabled id="save_password">Save changes</button>
    </div>

    <!-- <div class="change_data">
        <span class="alr"></span>
        <h3 class="tc">Interface language</h3>
        <div class="row">
            <input type="text" placeholder="Interface language">
        </div>
    </div> -->

    <div class="change_data">
        <div class="delete_account">
            <div class="warning">
                <h4>Watch out for the danger zone</h4>
                <p>If you choose to delete your company account, your data will be irreversibly erased. We grant you the right to make this decision.</p>
            </div>
            <button>Delete account</button>
        </div>
    </div>
    
</div>