@import url('https://fonts.google.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap');

$dark_g: #37A408;
$light_g: #53EB12;
$dark_bg: #424141;
$light_t: #D9D9D9;
$dark_t: #AFAFAF;

button, .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s ease;
  box-sizing: border-box;
  color: #fff;
  padding: 9px 20px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #000000;
  font-size: 12px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

button:hover(:not(:disabled)), .button:hover(:not(:disabled)) {
  background-color: $light_g;
}

button:disabled, .button:disabled {
  opacity: 0.1;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

/*Visually hidden class used
 for better interaction with
 screen readers and better accessibility*/
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

a, button {
  cursor: pointer;
}

body {
  font-size: 15px;
  margin: 0;
  background: #ffffff;
}


.button_big {
  margin: 0 auto;
  padding: 16px;
  width: 295px;
  display: block;
  border-radius: 10px;
  color: #ffffff;
  background-color: $dark_bg;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
}


.button:active {
  background-color: $light_g;
  color: #ffffff;
}

