@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import "../../static/style/helpers.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin mq($size, $direction: min-width, $media-type: screen) {
  @if $size==phones {
    @media #{$media-type} and (#{$direction}: $phones) {
      @content;
    }
  } @else if $size==tablet {
    @media #{$media-type} and (#{$direction}: $tablet) {
      @content;
    }
  } @else if $size==laptop {
    @media #{$media-type} and (#{$direction}: $laptop) {
      @content;
    }
  } @else if $size==desktop {
    @media #{$media-type} and (#{$direction}: $desktop) {
      @content;
    }
  } @else {
    @media #{$media-type} and (#{$direction}: $size) {
      @content;
    }
  }
}

.thank_you {
  height: 100%;
  position: relative;
  overflow: hidden !important;

  .load {
    display: flex !important;
  }

  .content_thankyou {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 0 50px;

    h2 {
      color: #fff;
      margin-bottom: 20px;
      @include mq(0px) {
        font-size: 20px;
      }
      @include mq(600px) {
        font-size: 25px;
      }
      @include mq(800px) {
        font-size: 30px;
      }
      @include mq(1160.98px) {
        font-size: 35px;
      }
    }

    p {
      color: #ffffffed;
      margin-top: 20px;
    }

    .star {
      width: 100px;
      height: 100px;

      svg {
        width: 100px;
        height: 100px;
      }
    }
  }

  .circle_abs {
    width: 0;
    height: 0;
    background: #6ec206;
    display: flex;
    position: absolute;
    transition: 1s ease;
    border-radius: 50%;
    transform: scale(0);
  }
}

.q.loader,
.content.loader {
  .hd {
    display: none;
  }

  .load {
    display: flex;
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;

  svg {
    width: 50px;
    height: 50px;
    transition: 0.3s ease;
    animation: load .6s linear infinite;
  }
}

.content {
  height: 100vh;
  @include mq(0px) {
    padding-top: 20px;
  }
  @include mq(1160.98px) {
    margin: 0 auto;
    max-width: 1400px;
    padding: 50px 0;
    padding-bottom: 200px;
  }

  .hd {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(1160.98px) {
      justify-content: center;
    }
  }
}

.q {
  padding: 50px 0;
}

.thank_you {
  min-height: 100vh;
}

.input_user input {
  padding: 2px 30px;
  gap: 10px;
  height: 55px;
  background-color: #fff;
  display: flex;
  transition: 0.3s ease;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: none;
  margin-bottom: 10px;

  font-size: 21px;
  font-weight: 600;

}

.confident_accept {
  max-width: 300px;
  text-align: center;
  font-size: 11px;
  color: #959595;
}

.thank_you,
.q,
.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  @include mq(1160.98px) {
    align-items: flex-start;
    justify-content: center;
  }

  .row_user {
    width: 100%;
    min-height: 80px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .type {
      width: 100%;
      max-width: 700px;
      justify-content: center;
      text-align: center;
      font-size: 14px;
      color: #132133;

      a {
        color: $dark_g;
      }
    }

    span {
      @include mq(0px) {
        width: 80%;
      }
      @include mq(700px) {
        width: 75%;
      }
      @include mq(1160.98px) {
        width: 50%;
      }

      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 12px;
      color: #27292c6b;
      margin-top: 10px;
    }
  }

  .company {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding-top: 20px;

    @include mq(1160px) {
      padding-top: 80px;
    }

    .image {
      width: 134px;
      height: 134px;
      margin-bottom: 10px;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(71, 71, 71, 0.199);
      border: 2px solid #ffffff;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h3 {
      width: 100%;
      text-align: center;
      font-size: 25px;
    }

    p {
      width: 50%;
      text-align: center;
      color: #969696;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

#visualization {
  @include mq(0px) {
    width: 80%;
  }
  @include mq(500px) {
    width: 400px;
  }

  height: 70px;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(150, 149, 149, 0.308);
}

.q_count {
  margin-bottom: 18px;
  color: #a5a5a5;
  font-size: 18px;
  font-weight: 700;
}

.wpr_tests {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .wrapper {
    width: 100%;
    min-height: 100%;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    @include mq(0px) {
      flex-direction: column;
    }
    @include mq(1160.98px) {
      max-width: 1278px;
      justify-content: center;
      margin: 0 auto;
      flex-direction: row;
      overflow: hidden;
      align-items: flex-start;
    }
    display: flex;
    position: relative;

    .boxed_info::before {
      @include mq(1160.98px) {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150%;
        height: 150%;
        transform: rotate(5deg) translate(-50%, -50%);
        background: rgb(5, 11, 44);
        z-index: 1;
      }
    }

    .boxed_info {
      @include mq(0px) {
        width: 100%;
        position: relative;
      }
      @include mq(1160.98px) {
        width: 400px;
        position: absolute;
        right: 0;
      }
      height: 100%;
      display: flex;
      background: rgb(5, 11, 44);
    }
  }
}

#error {
  @include mq(0px) {
    width: 80%;
  }
  @include mq(700px) {
    width: 75%;
  }
  @include mq(1160.98px) {
    width: 50%;
  }
  min-height: 50px;
  font-size: 12px;
  text-align: center;
  color: rgb(253, 61, 61);
  margin-top: 10px;
}

.submit {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button_big {
  font-size: 25px;
  margin-top: 20px;
  background-color: $dark_bg;
}

.button_big:active {
  background-color: $light_g;
}

.bt:not(:disabled):hover {
  background-color: rgb(95, 171, 1);
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgb(164, 223, 92);

  svg {
    transform: translateX(5px);
    transition: 0.3s ease;
  }
}

.bt:disabled {
  opacity: 0.5;
  background-color: #626262;
}

.question {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;

  @include mq(1160px) {
    margin-top: 50px;
  }

  .row_button {
    margin-top: 20px;

    @include mq(1160px){
      margin-top: 75px;
    }
  }

  h5 {
    max-width: 70%;
    text-align: center;
    color: #a8a8a8b2;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    margin-top: 30px;

    @include mq(1160px){
      margin-top: 45px;
    }
  }

  h3 {
    font-size: 35px;
    margin-top: 10px;
  }

  .recognize {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }
}

.slide {
  width: 100%;
  min-height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  transition: height 0.5s ease-out;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.slide h3 {
  transition: transform 1s;
  display: block;
  @include mq(0px) {
    font-size: 16px;
    width: 80%;
  }
  @include mq(600px) {
    font-size: 18px;
  }
  @include mq(800px) {
    font-size: 21px;
  }
  @include mq(1160.98px) {
    width: 60%;
  }
  margin: 0 auto;
}

.slide h3.current {
  z-index: 2;
}

.slide h3.next {
  z-index: 1;
  transform: translateY(50px);
}

.bt {
  span {
    color: #fff;
    font-size: 16px;
    @include mq(1160px) {
      font-size: 25px;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    transition: 0.3s ease;
  }
}

.content_info {
  @include mq(0px) {
    width: 100%;
    height: auto;
    padding: 40px 10px;
  }
  @include mq(1160.98px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 40px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;


  h3 {
    color: #fff;
    font-size: 25px;
  }

  .list {
    @include mq(0px) {
      width: 95%;
    }
    @include mq(700px) {
      width: 60%;
    }
    @include mq(1160.98px) {
      width: 100%;
    }
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    gap: 10px;

    .box {
      width: 100%;
      display: flex;
      align-items: flex-start;
      gap: 10px;

      .cube {
        width: 30px;
        height: 30px;
        display: flex;
        margin-top: 3px;
        justify-content: center;
        align-items: center;
        background: rgba(231, 230, 230, 0.342);
        border-radius: 10px;
        color: #fff;
      }

      p {
        flex: 1;
        color: #fff;
      }
    }
  }
}


.path {
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: draw 5s forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.powered {
  @include mq(0px) {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative !important;
  }
  @include mq(1160.98px) {
    position: absolute !important;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  color: #b8b8b8;
  font-size: 12px;
  padding: 20px 0;
  font-family: "Gabarito";

  a {
    text-decoration: none;
    color: #969696;
    padding-left: 5px;
  }
}

a, button {
  cursor: pointer;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  overflow: auto;
}

.hidden {
  display: none !important;
}

.holder {
  width: 300px;
}

.web-camera {
  width: 100%;
  height: 300px;
  display: flex;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  svg {
    width: 80px;
    height: 80px;
  }

  p {
    font-size: 15px;
  }
}

.stream-start {
  width: 100%;
  margin-top: 10px;
  background: linear-gradient(45deg, rgb(233, 50, 224), rgb(0, 247, 255));
  border-radius: 10px;
  padding: 10px 5px;
  opacity: 0.8;
  color: #fff;
  font-size: 16px;
  border: none;
}

.stream-stop {
  width: 100%;
  margin-top: 10px;
  background: linear-gradient(45deg, rgb(233, 87, 50), rgb(255, 0, 255));
  border-radius: 10px;
  padding: 10px 5px;
  opacity: 0.8;
  color: #fff;
  font-size: 16px;
  border: none;
}

.stream-stop:hover,
.stream-start:hover {
  opacity: 1;
  transition: 0.4s ease;
}

.description {
  text-align: center;

  p {
    color: $dark_bg;
    font-size: 18px;
  }

  p:first-child {
    font-weight: 700;
  }

  p:last-child {
    color: $dark_t;
  }

}

