<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/home/style.css') }}" type="text/css">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="wrapper_container">
    <header class="header">
        {% include "menu.html" %}
        {% block headercontent %}{% endblock %}
    </header>
    {% block maincontent %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='assets/menu/script.js') }}"></script>
{% block scripts %} {% endblock %}
</body>
</html>