<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/contact/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/menu/style.css') }}" type="text/css">
    <title>KnowEmployee</title>
</head>
<body>
{% include 'menu.html' %}
<script src="{{ url_for('static', filename='assets/menu/script.js') }}"></script>
</body>
</html>