<footer class="footer">
    <div class="wrapper">
        <div class="content">
            <div class="list">
                <div class="column">
                    <h2>Services</h2>
                    <ul>
                        <li>
                            <a href="#">Anonymous feedback</a>
                        </li>
                        <li>
                            <a href="#">Custom feedback</a>
                        </li>
                        <li>
                            <a href="#">Metrica feedback</a>
                        </li>
                    </ul>
                </div>

                <div class="column">
                    <h2>Why do we</h2>
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Partners</a>
                        </li>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                    </ul>
                </div>

                <div class="column">
                    <h2>Legal</h2>
                    <ul>
                        <li>
                            <a href="#">Cookie Policy</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="about_us_short">
                <h5 class="visually-hidden">KnowEmployee</h5>
                <div class="logo">
                    <img src="{{ url_for('static', filename='assets/images/KnowEmployee.svg') }}"
                         alt="KnowEmployee">
                </div>

                <p>We provide tools to analyze your workplace environment, and have created a solution that can
                    improve your employee satisfaction. We know that if a person comes to work in a good mood,
                    they'll be more likely to perform at work.</p>
                <p>Get to know your employee better, improve the work environment with our analysis tools</p>
            </div>
        </div>
        <div class="copyright">
            <span>© {{ year }} KnowEmployee. All rights reserved.</span>
        </div>
    </div>
</footer>
