{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/home/style.css') }}" type="text/css">
{% endblock %}
{% block title %}KnowEmployee{% endblock %}
{% block headercontent %} {% include "header-main.html" %} {% endblock %}
{% block maincontent %}
<section class="w-features">
    <div class="wrapper">
        <div class="feature_item">
            <h3>Anonymous</h3>
            <p>Employees can express themselves without fear</p>
        </div>
        <div class="feature_item">
            <h3>Anonymous</h3>
            <p>Real-time analysis for immediate impact</p>
        </div>
        <div class="feature_item">
            <h3>Advanced</h3>
            <p>Cutting-edge AI algorithm ensuring accuracy</p>
        </div>
    </div>
</section>
{% set active_color = "light" %} {% include "w-know.html" %}
<section class="w-contact-us bg-dark">
    <div class="wrapper">
        <p class="description">
            Still have questions about our product? Would you like to test a product
            in your company? Contact us to receive a personal advantageous offer.
        </p>
        <a class="button" href="/contact">Contact us</a>
    </div>
</section>
{% include "subscribe.html" %}
{% include "footer-logo.html" %}
{% include "footer.html" %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='assets/home/script.js') }}"></script>
{% endblock %}
