<div class="menu_h wrapper">
    <div class="l">
        <div class="logo">
            <img src="{{ url_for('static', filename='assets/images/logo-dark.svg') }}" alt="KnowEmployee">
            <h3 class="menu_lang">EN</h3>
        </div>
        <nav class="navigation">
        </nav>
    </div>
    <div class="menu_toggler cross"></div>
    <div class="r">
        <div class="menu">
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
            <a href="/register">Sign Up</a>
            <a class="up" href="/login">Sign In</a>
        </div>
    </div>
</div>