<section class="{% if active_color == 'light' %}w-know w-know-light{% else %}w-know w-know-dark{% endif %}">
    <div class="wrapper">
        <h3 class="title">How does it work?</h3>
        <p class="description">By understanding and prioritizing the well-being of your team, we aim to contribute to
            the creation of a positive work environment that inherently fosters success.</p>
        <div class="items">
            <p class="item">We prepare questions to determine necessary changes or checks in your company</p>
            <p class="item">We process your answers confidentially without recording voice messages</p>
            <p class="item">After the questionnaire, you can provide your feedback for AI analysis</p>
            <p class="item">Our platform informs the employer about staff preferences and concerns</p>
            <p class="item">Our platform informs the employer about staff preferences and concerns</p>
        </div>
    </div>
</section>
